.wrapper{
  height: 80vh;
  h1{
    font-size: .22rem;
    font-weight: 500;
    line-height: .38rem;
  }
  h2{
    font-size: .18rem;
    font-weight: 500;
    line-height: .34rem;
  }
  p{
    font-size: .16rem;
    margin: .1rem 0;
  }
}